<% layout ('./layouts/boilerplate') %>
<link rel="stylesheet" href="/styleSheets/show.css">
<div class="d-flex flex-md-row flex-column ps-0 ms-0 main">
    <div class="col-md-3 col-lg-2 d-none d-md-block ms-0 p-2 bg-body-secondary bg-gradient user">
        <div class="p-2 d-flex flex-column align-items-center">
            <img src="<%= userProfile.image.url %>" alt="Profile picture" class="img-thumbnail s-image">
            <h5 class="text-muted text-center"><%= userProfile.title %> <%= userProfile.fullName %></h5>
            <!-- <a class="btn btn-primary text-center text-white" href="/myprofile/<%= userProfile._id %>/update">Update Profile</a> -->
            
        </div>
        <div class="mt-3">
            <hr class="border border-light border-2 opacity-75 mb-2">
            <h4 class="text-muted text-center my-0 py-0">My Projects</h4>
            <hr class="border border-light border-2 opacity-75 mt-1 mb-1">
            <ul class="list-group list-group-flush">
                <% for( let project of userProfile.projects ) { %>
                    <li class="list-group-item">
                        <p class="p-0 mt-0 mb-0">
                            <a class=" link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover text-muted fst-italic p-1 py-0 m-0" href="/myprofile/<%= userProfile._id %>/project/<%= project._id %>">
                                <span> <%= project.title %> </span>
                            </a>
                        </p>
                    </li>
                <% } %>
            </ul>
        </div>
    </div>
    <div class="col-md-7 col-lg-9 m-2 mt-5 p-1">
        <p>
            <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover link-primary p-1 py-0 ms-2" href="/myprofile/<%= userProfile._id %>">
                <span><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#2854C5"><path d="M440-240 200-480l240-240 56 56-183 184 183 184-56 56Zm264 0L464-480l240-240 56 56-183 184 183 184-56 56Z"/></svg> Back to profile </span>
            </a>
        </p>
        <%- include('../partials/flash') %>
        <div class="mb-2 mt-0"> 
            <h3 class="text-muted"><%= project.title %></h3>
            <strong class="text-muted"><i><%= project.client %></i></strong> 
            <p><%= project.description %></p>
            <div class="d-flex">
                <a href="/myprofile/<%= userProfile._id %>/project/<%= project._id %>/edit"><button type="button" class="btn btn-primary btn-sm">Edit project</button></a>
                <form action="/myprofile/<%= userProfile._id %>/project/<%= project._id %>?_method=DELETE" method="post">
                    <button type="submit" class="btn btn-danger btn-sm ms-2">Delete Project</button>
                </form>   
            </div> 
        </div>
        <div class="mt-3">
            <h4>Tasks</h4>
            <div class="list-group mb-2">
                <% for( let task of project.tasks ) { %>
                    <div href="#" class="list-group-item" aria-current="true">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1"><%= task.description %></h5>
                            <small><i><%= task.duration %> days</i></small>
                        </div>
                        <p class="mb-1">Requirement: <%= task.tools %></p>
                        <div class="d-flex">
                            <a href="/myprofile/<%= userProfile._id %>/project/<%= project._id %>/tasks/<%= task._id %>/edit"><button type="button" class="btn btn-primary btn-sm">Edit Task</button></a>
                            <form action="/myprofile/<%= userProfile._id %>/project/<%= project._id %>/tasks/<%= task._id %>?_method=DELETE" method="post">
                                <button type="submit" class="btn btn-danger btn-sm ms-2">Delete Task</button>
                            </form> 
                        </div>
                    </div> 
                <% } %>
            </div>
            <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#addTask">
                Add Task
            </button>
        </div>
    </div>
</div>
 
<!--Add task Modal -->
<div class="modal fade" id="addTask" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title fs-5" id="staticBackdropLabel">Add task to project</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">     
            <div class="card shadow">
                <div class="card-body">
                    <form class="validated-form" action="/myprofile/<%= userProfile._id %>/project/<%= project._id %>" method="post" novalidate>
                        <div class="mb-2">
                            <label for="tools" class="form-label">Requirement: </label>
                            <input class="form-control" type="text" name="task[tools]" id="tools" placeholder="Required tool(s)" required>
                            <div class="valid-feedback mb-1">
                                Nice one!
                            </div>
                        </div>
                        <div class="mb-2">
                            <label for="duration" class="form-label">Duration <i>(days)</i>:</label>
                            <input class="form-control" type="number" name="task[duration]" id="duration" placeholder="Duration" required>
                            <div class="valid-feedback mb-1">
                                Nice one!
                            </div>
                        </div>
                        <div class="mb-2">
                            <label for="description" class="form-label">Task brief:</label>
                            <textarea class="form-control" name="task[description]" id="description" cols="10" rows="5" placeholder="Task Description" required></textarea>
                            <div class="valid-feedback mb-1">
                                Nice one!
                            </div>
                        </div>
                        <div class="mb-2">
                            <button class="btn btn-primary" type="submit">Add Task</button>  
                        </div>                   
                    </form>
                </div>
            </div>
            
                
            
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>
